h1 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    background-color: #DC5F00;
}

h2.skills-prof {
    font-size: 1.5em;
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

/* .skills-prof{
    color: blue;
    text-align: center;
} */

h3{
    color: blue;
    background-color: #686D76;
    
}

h4{
    color: skyblue;
}

h5{

}

footer {
    text-align: center;
    padding: 20px;
    background-color: #373A40;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 10%;
    
}

hr {
    border: 1px solid #0044cc;
    margin: 20px 0;
}
html{
    background-color: #EEEEEE;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.skills-section {
    flex: 1;
}

.skills-section h4 {
    color: #003366;
}

.skills-section hr {
    border: none;
    height: 2px;
    background: #003366;
    margin: 10px 0;
}

.skills-section ul {
    list-style-type: none;
    padding-left: 0;
}

.skills-section ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.skills-section ul li .fa-star {
    color: gold;
}

.portfolio-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

.contact-details{
    background-color: #555;
}

.contact-details, .profile-details {
    flex: 1;
}

.contact-details h4, .profile-details h1 {
    color: #003366;
}

.contact-details hr, .profile-details hr {
    border: none;
    height: 2px;
    background: #003366;
    margin: 10px 0;
}

.contact-details p, .profile-details p {
    margin: 10px 0;
    font-size: 1.1em;
}

.profile-details img {
    display: block;
    margin: 10px 0;
}

.profile-details ul {
    list-style-type: none;
    padding-left: 0;
}

.profile-details ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

.skills-prof {
    color: #555;
}

